[submodule "deps/raylib"]
	path = deps/raylib
	url = git@github.com:qiekn/raylib.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/raygui"]
	path = deps/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
